//Primary color

   $green-dark : #005800;
   $green-mid : #007A00;
   $green-bright : #00CA00;

//Secondary color (grey-purple):

   $purple-dark: #362630;
   $purple-grey : #423A3F;

// Tertiary colors:

   $peach      : #FF976E;
   $light-gray : #999999;
   $s2-shade-2 : #FFFEFE;
   $s2-shade-3 : #CC3A00;
   $s2-shade-4 : #FD4800;

