/*this works*/
body {
	background: white !important;
	font-family: myriad-pro,sans-serif;
	color:#362630;
}
.top-buffer { 
	margin-top: 100px;
}

.top-buffer-half { 
	margin-top: 50px;
}

.submit-button{
	width:75%;
}

/*
FAQ PAGE STUFF
*/

.faq ul{
	padding:0;
}
.faq li {
	list-style-type:none;
	font-weight:600;
	width:100%;
	margin: auto;
	cursor: pointer;
	font-size: 1.5rem;
	text-align:center;
	background-color: #F6EDF7;
	border-radius: 20px;
	padding-bottom: 10px;
	
}

.faq p {
	margin:auto;
	text-align:center;
	text-decoration:none;
	font-size: 1rem;
	z-index: 1;
	max-height:0px;
	overflow: hidden;
	-webkit-transform: perspective(400) rotate3d(1, 0, 0, -90deg);
	-webkit-transform-origin: 50% 0;
	-webkit-transition: 350ms;
	-moz-transition: 350ms;
	-o-transition: 350ms;
	transition: 350ms;
}




#home_submit{
	width:50%;
	border-radius: 10px;
	font-weight: 650;
	background-color: #007A00;
	border-style: none;
	color: #F6EDF7;
}

#home_text{
	text-align: center;
	color:#362630;
	font-size: 6.5rem;
	font-weight: 650;
	padding-bottom: 0;
}

#home_search{
	border-color:#F6EDF7;
	border-radius: 25px;
	border-style: solid;
	padding:7.5px;
	padding-left: 10px;
	width:69%;
}

#home_search:hover{
	box-shadow: 0px 2px 4px 2px grey;
}

#home_search:focus{
	box-shadow: 0px 2px 4px 2px grey;
}

#top-nav {
    background-color:#40383D;
    padding:0;
    border-bottom: 8px solid;
    border-bottom-color: #007A00;
}

#top-nav li:hover{
	-webkit-transition: background-color .5s; /* Safari prior 6.1 */
	transition: background-color .5s;
	background-color: #00CA00;
}

#top-nav a{
	color: white;
	font-size: 1.1rem;
	font-weight: 650;
	letter-spacing: 1px;
}

#login_button{
	float:right;
}

#top-nav li{
	padding-left:15px;
	padding-right:15px;
	margin-top:8px;
	border-radius: 25px 25px 0px 0px;
}

.active{
	background-color: #007A00 !important;
}

#landing-banner h1{
	font-weight: 650;
	text-align: center;
}

#landing-banner p{
	font-weight: 400;
	width: 40%;
	text-align:center;
	margin:auto;
}

#landing-banner a{
	font-weight: 400;
	width: 40%;
	text-align:center;
	margin:auto;
}

#left-col-explore{
	margin-left:30px;
}

#explore_header{
	font-weight: 600;
	font-size: 4rem;
}

#filter{
	background-color: #F6EDF7;
}

#lesson_card{
	background-color: #F6EDF7;
	border-radius: 20px;
}

#lesson_card h2{
	display: inline-block;
	font-size: 2.3rem;
	margin-right:55%;
}

#lesson_card h2 a{
	color:#362630;
}

#mid_lesson{
	margin-bottom: 20px;
}

#lesson_card p{
	font-family: myriad-pro,sans-serif;
	font-style: italic;
	font-size: 1.4rem;
	line-height: 1.2;

}

#lesson_title{
    border-bottom: 4px solid;
    border-bottom-color: #362630;
    width: 100%;
}

#lesson_title a{
	font-weight: 500;
}

#card-margin{
	margin:20px;
}

#date-text{
	font-size: 1.3rem;
	display: inline;
	float:right;
}

#language-header{
	color:white;
	background-color: #00CA00;
	font-weight: 600;
	font-size: 1.25rem;
	text-align: center;
	border-radius: 15px;
	padding: 3px;
	padding-left: 10px;
	padding-right: 10px;
	display: inline-block;
}

#duration-header{
	color:white;
	background-color: #A44800;
	font-weight: 600;
	font-size: 1.25rem;
	text-align: center;
	border-radius: 15px;
	padding: 3px;
	padding-left: 10px;
	padding-right: 10px;
	display: inline-block;
}

#tag{
	height: 100%
}

#tag a{
	vertical-align: middle;
}

#tag-row{
	padding:0;
	margin:1%;
	height: 40px;
}


#length{
      font-weight: bold;
}

#language{
      font-weight: bold;
}

#difficulty{
      font-weight: bold;
}


/*
Myriad Pro Bold
font-family:;
*/