{% extends "base.html" %}
{% block page_title %}Home{% endblock %}

{% block page_content %}
<div id="home-background">
	<div class="col-md-8 offset-md-2" id="home_text" style="margin-top:135px; margin-bottom:70px;"> 
		<div id = "header_fade">
			Search Seed++
		</div>
	</div>
	<div class="col-md-8 offset-md-2 top-buffer-less" style="text-align: center; height:90%;">
	  <form action="{% url 'lesson_search' %}" method="get">
		<div class="col make-it-fast">
		  <input placeholder="Search for Lessons" type="text" name="home_search" id="home_search">
		</div>
		<div class="col-md-2 offset-md-5 top-buffer-less submit-button">
		  <input type="submit" id="home_submit" value="Go">
		</div>
		<div id = "mid-filters" class = "col-md-2">
			<div class="card" id="filter">
				<div class="card-header" id="filter-header">Filters</div>
	                        <div class="card-body">
	                            <ul style="list-style-type:none">
	                                <li id="length">Length</li>
	                                {% if less_than_1 %}
	                                    <input type="checkbox" name="length" value="less_than_1" checked> Less than 1 hour<br>
	                                {% else %}
	                                    <input type="checkbox" name="length" value="less_than_1"> Less than 1 hour<br>
	                                {% endif %}

	                                {% if 1_hour %}
	                                    <input type="checkbox" name="length" value="1_hour" checked> 1 hour<br>
	                                {% else %}
	                                    <input type="checkbox" name="length" value="1_hour"> 1 hour<br>
	                                {% endif %}

	                                {% if 2_hour %}
	                                    <input type="checkbox" name="length" value="2_hour" checked> 2 hours<br>
	                                {% else %}
	                                    <input type="checkbox" name="length" value="2_hour"> 2 hours<br>
	                                {% endif %}

	                                <li id="language">Language</li>
	                                {% if python %}
	                                    <input type="checkbox" name="language" value="Python" checked> Python<br>
	                                {% else %}
	                                    <input type="checkbox" name="language" value="Python"> Python<br>
	                                {% endif %}

	                                {% if cplusplus %}
	                                    <input type="checkbox" name="language" value="C++" checked> C++<br>
	                                {% else %}
	                                    <input type="checkbox" name="language" value="C++"> C++<br>
	                                {% endif %}

	                                {% if java %}
	                                    <input type="checkbox" name="language" value="Java" checked> Java<br>
	                                {% else %}
	                                    <input type="checkbox" name="language" value="Java"> Java<br>
	                                {% endif %}
	                                
	                                <li id="difficulty">Difficulty</li>
	                                {% if beginner %}
	                                    <input type="checkbox" name="difficulty" value="beginner" checked> Beginner<br>
	                                {% else %}
	                                    <input type="checkbox" name="difficulty" value="beginner"> Beginner<br>
	                                {% endif %}

	                                {% if intermediate %}
	                                    <input type="checkbox" name="difficulty" value="intermediate" checked> Intermediate<br>
	                                {% else %}
	                                    <input type="checkbox" name="difficulty" value="intermediate"> Intermediate<br>
	                                {% endif %}

	                                {% if advanced %}
	                                    <input type="checkbox" name="difficulty" value="advanced" checked> Advanced<br>
	                                {% else %}
	                                    <input type="checkbox" name="difficulty" value="advanced"> Advanced<br>
	                                {% endif %}
	                                
	                            </ul>
	                        </div> 
	                        
	                   
				</div>
			</div>
</div>
	  </form>
	</div>
</div>



{% endblock %}