{% extends "base.html" %}
{% block page_content %}
<div class="col-md-8 offset-md-2">
	
    <h2 style="padding:10px; margin-top:15px" id="curriculum_title">Tag: {{ tag | title }}</h2>
    <hr>
    {% for lesson in lessons %}
	<div class="card form-group" id="lesson_card">
		<div id="card-margin">
			<h2 id="lesson_title" style="margin-bottom:2px">
				<a href="{% url 'lesson_detail' lesson.pk%}">{{ lesson.title }}</a>
				<div id='date-text'style="margin-bottom:5px">
				{{ lesson.created_on.date }}&nbsp;
				</div>
			</h2>
				<div id= "mid_lesson" style="margin-top:2px!important;">
				{% for tag in lesson.tags.all %}
					<a id="language-header" style="margin:0;" href="{% url 'lesson_tag' tag.name %}">
					{{ tag.name }}
					</a>&nbsp;
					{% endfor %}
					<div id='date-text' style="margin:0!important; vertical-align:text-top;font-style:italic; font-size:0.9rem!important;">
					posted by: {{ lesson.owner.get_username }}
					</div>
				</div>
			<p>{{ lesson.body | slice:":400" }}...</p>
		</div>
	</div>
    {% endfor %}
</div>
{% endblock %}