{% extends "base.html" %}
{% block page_title %}Home{% endblock %}

{% block page_content %}
<div class ="row form-group" style="margin-right: 0;">
    <div class = "col-4">
        <div class="offset-md-1" id="explore_header">
            Explore
        </div>
    </div>
</div>
<div class= "row">
    <div id = "left-col-explore" class = "col-md-2">
        <div>
            <div class="card" id="filter">
            <div class="card-header">Filters</div>
                <div class="card-body">
                    <ul>
                        <li>Length</li>
                        <li>Language</li>
                        <li>Difficulty</li>
                    </ul>
                </div> 
            </div>
        </div>
    </div>
    <div class="col-md-8">
        
        <hr>
        <h2><a href="{%  url 'lesson_new' %}"> NEW </a></h2>
        <hr>
        
        {% for lesson in Lessons %}
        <div class="card form-group" id="lesson_card">
        <div id="card-margin">
            <h2 id="lesson_title">
                <a href="{% url 'lesson_detail' lesson.pk%}">{{ lesson.title }}</a>
                <div id='date-text'>
                    {{ lesson.created_on.date }} &nbsp;
                </div>
            </h2>
            <div id="mid_lesson">
                <span id="language-header">
                    Python69
                </span>
                <span id="duration-header">
                    > 1 hour
                </span>
            </div>
            <!--
            <div id= "tag-row" class = "row" >
                {% for tag in lesson.tags.all %}
                <div id= "tag" class="card col-2 " >
                <a href="{% url 'lesson_tag' tag.name %}">
                    {{ tag.name }}
                </a>&nbsp;
                </div>
                {% endfor %}
            </div>
            -->
            <p>{{ lesson.body | slice:":400" }}...</p>
        </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}