{% extends "base.html" %}
{% block page_title %}Home{% endblock %}

{% block page_content %}
<div class ="row form-group">
	<div class="col-md-12" id="faq_header" >
		<div style = "margin-left:5%; color:#362630;text-shadow: 3px 3px 2px #F6EDF7;">
			<div id = "header_fade">
				Frequently Asked Questions
			</div>
		</div>
	</div>
</div>
<div class= "row" id="home-background3">
	<div class="offset-md-2">
	</div>
    <div class="col-md-8" style="height:100%">
		<div class="faq">
			<ul>
			<li onClick="faqclick('faq1')">What is Seed++?</li>
				<p id="faq1"> Seed++ is an organization that seeks to help people find, create, share, and collaborate on open source lessons and courses for teaching introductory lessons in programming and computer science.  </p>
			<br>
			<li onClick="faqclick('faq2')">What can I do when I sign up for Seed++?</li>
				{% if user.is_authenticated %}
				<p id="faq2"> After you
					<a href="{% url 'lesson_dashboard' %}" >sign up
					</a>, you can create and share your own lessons, as well as create your own curricula!
				</p>
				{% else %}
				<p id="faq2"> After you
					<a href="{% url 'login' %}">sign up</a>
					, you can create and share your own lessons, as well as create your own curricula!
				</p>
				{% endif %}
			<br>
			<li onClick="faqclick('faq4')">How do I make Lessons and Curricula?</li>
				{% if user.is_authenticated %}
				<p id="faq4"> You can make lessons and curricula in your user
					<a href="{% url 'lesson_dashboard' %}" >dashboard</a> by clicking the <b>+</b> symbol next to the tabs <b>My Lessons</b> and <b>My Curricula</b>. </p>
				{% else %}
				<p id="faq4"> You can make lessons and curricula in your user
					<a href="{% url 'login' %}">dashboard</a> by clicking the <b>+</b> symbol next to the tabs <b>My Lessons</b> and <b>My Curricula</b>. </p>
				{% endif %}
			<br>
			<li onClick="faqclick('faq3')">Where can I find my Lessons and Curricula?</li>
				{% if user.is_authenticated %}
				<p id="faq3"> You can find your lessons and curricula on your user
					<a href="{% url 'lesson_dashboard' %}" >dashboard</a> under the tabs <b>My Lessons</b> and <b>My Curricula</b>. </p>
				{% else %}
				<p id="faq3"> You can find your lessons and curricula on your user
					<a href="{% url 'login' %}">dashboard</a> under the tabs <b>My Lessons</b> and <b>My Curricula</b>. </p>
				{% endif %}
			<br>
			</ul>
		</div>
        <!--
        <hr>
        <h2><a href="{%  url 'lesson_new' %}"> NEW </a></h2>
        <hr>
        -->
    </div>
	<div class="offset-md-2">
	</div>
</div>

{% endblock %}