{% extends "base.html" %}
{% block page_title %}Home{% endblock %}

{% block page_content %}
<div class ="row form-group">
    <div class = "col-4">
        <div class="offset-md-1" id="explore_header">
            Explore
        </div>
    </div>
</div>
<div class= "row">
    <div class = "col-md-2">
        <div class="offset-md-2">
            <div class="card">
            <div class="card-header">Filters</div>
                <div class="card-body">
                    <ul>
                        <li>Length</li>
                        <li>Language</li>
                        <li>Difficulty</li>
                    </ul>
                </div> 
            </div>
        </div>
    </div>
    <div class="col-md-6 offset-md-1">
        <hr>
        <h2><a href="{%  url 'lesson_new' %}"> NEW </a></h2>
        <hr>
        {% for lesson in Lessons %}
        <div class="card form-group" style="background-color:#AE6B0F;">
        <h2><a href="{% url 'lesson_detail' lesson.pk%}" style="color:#fff;">{{ lesson.title }}</a></h2>
        <small style="color:#fff;">
            {{ lesson.created_on.date }} &nbsp;
            <div class = "row"  style="padding:1%">
            {% for tag in lesson.tags.all %}
            <div class="card col-2 " style="margin:1%">
            <a href="{% url 'lesson_tag' tag.name %}">
                {{ tag.name }}
            </a>&nbsp;
            </div>
            {% endfor %}
        </div>
        </small>
        <p style="color:#fff;">{{ lesson.body | slice:":400" }}...</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}