{% extends "base.html" %}
{% load static %}
{% block page_title %}Dashboard{% endblock %}
{% block page_content %}

{% if user.is_authenticated %}
<div class= "row" id="home-background2">
	<!-- Profile Pic GOES HERE --> 
	<div class="col-md-2">
		<div class="profpic">
			<img height="200px" src="{% static "sigfried.png"%}" alt="Sigfried Goes Here">
		</div>
		<div class= "card about-profile">
			<h2>USER BIO</h2>
			! ! ! ATTENTION 2003 KIDS ! ! ! This 👇 is the last year of being a kid 👦👧! Because NEXT 👉YEAR! We gon be T33N4G3RS💁💅!! PARTYING 🎉💃 DRINKING 🍻🍸🍹🍷 MAKING OUT AND SEX 👅💦O_O PERIODS ☹🍫 HEARTBREAKS 💔☹ MIDDLE SCHOOL SOPHOMORES (7️⃣TH GRADE)
		</div>
	</div>
	
	<div class="col-md-10 top-buffer-less">
		{% for lesson in Lessons %}
        <div class="card form-group" id="lesson_card">
        <div id="card-margin">
            <h2 id="lesson_title">
                <a href="{% url 'lesson_detail' lesson.pk%}">{{ lesson.title }}</a>
                <div id='date-text'>
                    {{ lesson.created_on.date }} &nbsp;
                </div>
            </h2>
            <div id="mid_lesson">
                <span id="language-header">
                    Python69
                </span>
                <span id="duration-header">
                    &lt; 1 hour
                </span>
            </div>
            <!--
            <div id= "tag-row" class = "row" >
                {% for tag in lesson.tags.all %}
                <div id= "tag" class="card col-2 " >
                <a href="{% url 'lesson_tag' tag.name %}">
                    {{ tag.name }}
                </a>&nbsp;
                </div>
                {% endfor %}
            </div>
            -->
            <p>{{ lesson.body | slice:":400" }}...</p>
        </div>
        </div>
        {% endfor %}
	</div>
</div>
{% endif %}

{% if not user.is_authenticated %}

{% endif %}
}

{% endblock %}