{% extends "base.html" %}
{% block page_title %}Home{% endblock %}

{% block page_content %}
    <div class="jumbotron" id="landing-banner">
        <h1>Promoting Growth</h1>
        <p>
            Seed++ seeks to help people find, create, share,
            and collaborate on open source lessons and courses for
            teaching programming and computer science.
        </p>

        <div style="text-align:center">

        {% if user.is_authenticated %}
          Hi {{ user.username }}!
          <p><a href="{% url 'logout' %}">Log Out</a></p>
        {% else %}
            <hr>
          <a href="{% url 'login' %}">Login</a>
           <p><a href="{% url 'signup' %}">Sign up and start here!</a></p>
        {% endif %}
        <hr>
        </div>
    </div>
{% endblock %}