{% extends "base.html" %}
{% block page_title %}Home{% endblock %}

{% block page_content %}
<div class ="row form-group" style="margin-right: 0;">
    <div class = "col-md-12" id="explore_header">
		<div style = "margin-left:5%; color:#362630;text-shadow: 3px 3px 2px #F6EDF7;">
			<div id = "header_fade">
				Explore Lessons
			</div>
		</div>
    </div>
</div>
<div class= "row" id="home-background2">
    <div id = "left-col-explore" class = "col-md-2">
		<div class="card" id="filter">
			<div class="card-header" id="filter-header">Filters</div>
                {% if search_text %}
    				<form action="{% url 'apply_filters' search_text %}" method="get">
                        <div class="card-body">
                            <ul style="list-style-type:none">
                                <li id="length">Length</li>
                                <input type="checkbox" name="length" value="less-than-1"> Less than 1 hour<br>
                                <input type="checkbox" name="length" value="1-hour"> 1 hour<br>
                                <input type="checkbox" name="length" value="2-hour"> 2 hours<br>
                                <li id="language">Language</li>
                                <input type="checkbox" name="language" value="python"> Python<br>
                                <input type="checkbox" name="language" value="c++"> C++<br>
                                <input type="checkbox" name="language" value="java"> Java<br>
                                <li id="difficulty">Difficulty</li>
                                <input type="checkbox" name="difficulty" value="beginner"> Beginner<br>
                                <input type="checkbox" name="difficulty" value="intermediate"> Intermediate<br>
                                <input type="checkbox" name="difficulty" value="advanced"> Advanced<br>
                            </ul>
                        </div> 
                        <div class="col-md-4 offset-md-3 submit-button">
                          <input type="submit" id="filter_submit" value="Apply Filters">
                        </div>
                    </form>
                {% else %}
                    <form action="{% url 'apply_filters' %}" method="get">
                        <div class="card-body">
                            <ul style="list-style-type:none">
                                <li id="length">Length</li>
                                <input type="checkbox" name="length" value="less-than-1"> Less than 1 hour<br>
                                <input type="checkbox" name="length" value="1-hour"> 1 hour<br>
                                <input type="checkbox" name="length" value="2-hour"> 2 hours<br>
                                <li id="language">Language</li>
                                <input type="checkbox" name="language" value="python"> Python<br>
                                <input type="checkbox" name="language" value="c++"> C++<br>
                                <input type="checkbox" name="language" value="java"> Java<br>
                                <li id="difficulty">Difficulty</li>
                                <input type="checkbox" name="difficulty" value="beginner"> Beginner<br>
                                <input type="checkbox" name="difficulty" value="intermediate"> Intermediate<br>
                                <input type="checkbox" name="difficulty" value="advanced"> Advanced<br>
                            </ul>
                        </div> 
                        <div class="col-md-4 offset-md-3 submit-button">
                          <input type="submit" id="filter_submit" value="Apply Filters">
                        </div>
                    </form>
                {% endif %}
			</div>
		</div>
    <div class="col-md-8">
		<!--
        <hr>
        <h2><a href="{%  url 'lesson_new' %}"> NEW </a></h2>
        <hr>
        -->
		<div class="card" id="sort-bar">
			Sort
		</div>
        {% for lesson in Lessons %}
        <div class="card form-group" id="lesson_card">
        <div id="card-margin">
            <h2 id="lesson_title">
                <a href="{% url 'lesson_detail' lesson.pk%}">{{ lesson.title }}</a>
                <div id='date-text'>
				{{ lesson.created_on.date }} &nbsp;
                </div>
            </h2>
			<!--
            <div id="mid_lesson">
                <span id="language-header">
                    
                </span>
                <span id="duration-header">
                </span>
            </div>
            -->
            <div id= "mid_lesson" style="margin-top:2px!important; margin-bottom:10px!important">
				{% for tag in lesson.tags.all|slice:":3" %}
					<a id="language-header" style="margin:0;" href="{% url 'lesson_tag' tag.name %}">
					{{ tag.name }}
					</a>&nbsp;
					{% endfor %}
					<div id='date-text' style="margin:0!important; vertical-align:text-top;font-style:italic; font-size:0.9rem!important;">
					{{ lesson.owner.get_username }}
					</div>
			</div>
            <p style="margin:0;">{{ lesson.body | slice:":400" }}...</p>
        </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}