{% extends "base.html" %}
{% load static %}

{% block page_title %}
{{ lesson.title | slice:":40" }}
{% endblock %}

{% block page_content %}
<div id="home-background4">
	<div class="row">
		<div class="offset-md-2">
			<!--
			<a class="navbar-brand" href="{% url 'lesson_explore' %}" id="back_boi" style="margin-left:80%; margin-top:5px">
				<img height="25px" src="{% static "back-arrow.png"%}" style="position:relative;top:-0px" alt="SEED++" >
			</a>
			-->
		</div>
		<div class="col-md-8 top-buffer-less">
				<!--
				<hr>
				<h2><a href="{%  url 'lesson_new' %}"> NEW </a></h2>
				<hr>
				-->
				<div class="card form-group" id="lesson_card">
					<div id="card-margin">
						<h2 id="lesson_title">
							<a href="{% url 'lesson_detail' lesson.pk%}">{{ lesson.title }}</a>
							<div id='date-text'>
								{{ lesson.created_on.date }} &nbsp;
							</div>
						</h2>
						<!--
						<div id="mid_lesson">
							<span id="language-header">
								Python69
							</span>
							<span id="duration-header">
								> 1 hour
							</span>
						</div>
						-->
						<div id= "tag-row" class = "row" style="margin-top:3px;margin:0">
							{% for tag in lesson.tags.all %}
							<div id= "mid_lesson" style="margin-top:3px!important;margin:0">
							<a id="language-header" style="margin:0;" href="{% url 'lesson_tag' tag.name %}">
								{{ tag.name }}
							</a>&nbsp;
							</div>
							{% endfor %}
						</div>
						
						<p>{{ lesson.body}}</p>
						
						<h2 id="lesson_title">Leave a Comment: </h2>
						<form>
							<textarea class="top-buffer-quarter bot-buffer-quarter" placeholder="Type Here..." id="comment-box"></textarea>
							<input type="submit" name="submit_comment" value="Submit" id="comment_submit">
						</form>

						<h2 id="lesson_title">Comments: </h2>
			<p>
				This is where comments would go... if we had any!
			</p>
			{% if user.is_authenticated and lesson.owner.get_username == user.get_username %}
			<div id="lesson_title" style="border-bottom:none!important;">
				<a href="{% url 'lesson_delete' lesson.pk%}"> Delete </a> &nbsp;&nbsp;
				<a href="{% url 'lesson_edit' lesson.pk%}"> Edit</a>
			</div>
			{% endif %}
			</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}