{% extends "base.html" %}
{% load static %}
{% block page_title %}Dashboard{% endblock %}
{% block page_content %}

{% if user.is_authenticated %}
<div class= "row" id="home-background2">
	<!-- Profile Pic GOES HERE --> 
	
	<div class="col-md-2 profile-column">
		<div class="profpic">
			{% if user.userprofile.profile_pic %}
				<img onmouseover="myFunction2()" src="{{ user.userprofile.profile_pic }}">
			{% else %}
				<img onmouseover="myFunction2()" src="{% static "sigfried.png"%}" alt="Sigfried Goes Here" style="padding:0; max-height:190px">
			{% endif %}
		</div>
		<div class="upload-pic">
			<form action="{% url 'upload_prof_pic' %}" method="GET">
				<button style="margin-left:15px;margin-bottom:5px"type="submit">Edit Profile Picture</button>
			</form>
		</div>
		<div class= "card about-profile top-buffer-less">
			<h2>{{user.get_username}}</h2>
			<p>This is where a user's bio will be displayed. This may include but is not limited to: information about their experience in computer science, the number of contributions to Seed++ that they have made, fun facts, etc.
			</p>
		</div>
	</div>
	<div class="col-md-10 top-buffer-less">
		<div class="dashboard_back" style="margin:10px;margin-left:10px">
			<h1 class="top-buffer-less" id="lesson_title" style="padding-top:10px; padding-left:10px; padding-right:10px">My Lessons <a href="{% url 'lesson_new' %}">+</a></h1>
			<div class="prof-lessons" style="padding-left:15px">
				<div class="row">
					{% for lesson in Lessons %}
						{% if user.get_username == lesson.owner.get_username %}
						<div class="card form-group " id="lesson_card">
							<div id="card-margin">
								<h2 id="lesson_title">
									<a href="{% url 'lesson_detail' lesson.pk%}">{{ lesson.title }}</a>
								</h2>
								<div id="mid_lesson">

									{% for tag in lesson.tags.all|slice:":3" %}
									<span id="language-header">
										<a href="{% url 'lesson_tag' tag.name %}" style="color:white">
										{{ tag.name }}
										</a>&nbsp;
									</span>
									 {% endfor %}
								</div>                    
							</div>
						</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
	<div class="dashboard_back" style="margin:10px;margin-left:10px">
		<h1 class="top-buffer-less" id="lesson_title" style="padding-top:10px; padding-left:10px; padding-right:10px">My Curricula <a href="{% url 'curriculum_new' %}">+</a></h1>
		<div class="prof-lessons" style="padding-left:15px">
			<div class="row">
				{% for c in Curricula %}
					{% if user.get_username == c.owner.get_username %}
					<div class="card form-group " id="lesson_card">
						<div id="card-margin">
							<h2 id="lesson_title">
								<a href="{% url 'curriculum_detail' c.pk%}">{{ c.title }}</a>
							</h2>
							<div id="mid_lesson">
								{% for tag in c.tags.all %}
								<span id="language-header">
									<a href="{% url 'lesson_tag' tag.name %}" style="color:white">
									{{ tag.name }}
									</a>&nbsp;
								</span>
								 {% endfor %}
							</div>                    
						</div>
					</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
	</div>
</div>
{% endif %}

{% if not user.is_authenticated %}

{% endif %}


{% endblock %}